doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='')
    meta(name='author' content='')
    title='Payment Gateway'
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css')
    link(rel='stylesheet' href='css/style.css')

  body
    nav.navbar.bg-brand.fixed-top
      .container
        span.navbar-brand
          img(src='https://jackpotvilla.com/assets/images/logo_new.png?v=1.0.7' height='60' alt='')

    .container
      h1 Transactions

      if error
        .alert.alert-danger 
          strong Error occurred. 
          span #{message}
      else
        br
        input.form-control#searchInput(placeholder='Search..')
        br
        
        h4 Total Transactions: #{transactions.length}

        h5
          u Total Amounts
        h6 BTC: #{totals.btc} 
        h6 ETH: #{totals.eth}
        h6 GRT: #{totals.grt}
        h6 SATX: #{totals.satx}
        h6 JAN: #{totals.jan}

        table.table.table-striped.table-hover
          thead
            tr
              th Type
              th Amount
              th Address (To)
              th From
              th Fees
              th Timestamp
              th Transaction Hash
              th Block Hash
              th Block Number
          tbody#tableData
            each tx in transactions
              tr
                td= tx.type.toUpperCase()
                th= tx.amount + ' ' + tx.type.toUpperCase()
                td= tx.address
                td= tx.from
                td= tx.fee
                td= moment(tx.timeStamp).format('Do MMM, YYYY h:mm A')
                td= tx.transactionHash
                td= tx.blockHash
                td= tx.blockNumber

  script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
  script.
    $(document).ready(function(){
      $("#searchInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#tableData tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });